.player {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}

.player.swim {
  width: calc(10vh * 1.3);
  height: calc(5vh * 1.3);
}

.player.idle {
  width: calc(7.8vh * 1.3);
  height: calc(10.2vh * 1.3);
}

.player.hurt {
  width: calc(7.75vh * 1.3);
  height: calc(10vh * 1.3);
}

.player.swim1 {
  background-image: url(../../../assets/images/player/swimming/player-swiming1.png);
}

.player.swim2 {
  background-image: url(../../../assets/images/player/swimming/player-swiming2.png);
}

.player.swim3 {
  background-image: url(../../../assets/images/player/swimming/player-swiming3.png);
}

.player.swim4 {
  background-image: url(../../../assets/images/player/swimming/player-swiming4.png);
}

.player.swim5 {
  background-image: url(../../../assets/images/player/swimming/player-swiming5.png);
}

.player.swim6 {
  background-image: url(../../../assets/images/player/swimming/player-swiming6.png);
}

.player.swim7 {
  background-image: url(../../../assets/images/player/swimming/player-swiming7.png);
}

.player.idle1 {
  background-image: url(../../../assets/images/player/idle/player-idle1.png);
}

.player.idle2 {
  background-image: url(../../../assets/images/player/idle/player-idle2.png);
}

.player.idle3 {
  background-image: url(../../../assets/images/player/idle/player-idle3.png);
}

.player.idle4 {
  background-image: url(../../../assets/images/player/idle/player-idle4.png);
}

.player.idle5 {
  background-image: url(../../../assets/images/player/idle/player-idle5.png);
}

.player.idle6 {
  background-image: url(../../../assets/images/player/idle/player-idle6.png);
}

.player.hurt1 {
  background-image: url(../../../assets/images/player/hurt/player-hurt1.png);
}

.player.hurt2 {
  background-image: url(../../../assets/images/player/hurt/player-hurt2.png);
}

.player.hurt3 {
  background-image: url(../../../assets/images/player/hurt/player-hurt3.png);
}

.player.hurt4 {
  background-image: url(../../../assets/images/player/hurt/player-hurt4.png);
}

.player.hurt5 {
  background-image: url(../../../assets/images/player/hurt/player-hurt5.png);
}

.player.rush1 {
  background-image: url(../../../assets/images/player/rush/player-rush1.png);
}

.player.rush2 {
  background-image: url(../../../assets/images/player/rush/player-rush2.png);
}

.player.rush3 {
  background-image: url(../../../assets/images/player/rush/player-rush3.png);
}

.player.rush4 {
  background-image: url(../../../assets/images/player/rush/player-rush4.png);
}

.player.rush5 {
  background-image: url(../../../assets/images/player/rush/player-rush5.png);
}

.player.rush6 {
  background-image: url(../../../assets/images/player/rush/player-rush6.png);
}

.player.rush7 {
  background-image: url(../../../assets/images/player/rush/player-rush7.png);
}
