.player {
  display: inline-block;
  width: 10vh;
  height: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: "translateY(-50%)";
}

.player.swim1 {
  background-image: url(../../../assets/images/player/swimming/player-swiming1.png);
}

.player.swim2 {
  background-image: url(../../../assets/images/player/swimming/player-swiming2.png);
}

.player.swim3 {
  background-image: url(../../../assets/images/player/swimming/player-swiming3.png);
}

.player.swim4 {
  background-image: url(../../../assets/images/player/swimming/player-swiming4.png);
}

.player.swim5 {
  background-image: url(../../../assets/images/player/swimming/player-swiming5.png);
}

.player.swim6 {
  background-image: url(../../../assets/images/player/swimming/player-swiming6.png);
}

.player.swim7 {
  background-image: url(../../../assets/images/player/swimming/player-swiming7.png);
}

.player.rush1 {
  background-image: url(../../../assets/images/player/rush/player-rush1.png)
}

.player.rush2 {
  background-image: url(../../../assets/images/player/rush/player-rush2.png)
}

.player.rush3 {
  background-image: url(../../../assets/images/player/rush/player-rush3.png)
}

.player.rush4 {
  background-image: url(../../../assets/images/player/rush/player-rush4.png)
}

.player.rush5 {
  background-image: url(../../../assets/images/player/rush/player-rush5.png)
}

.player.rush6 {
  background-image: url(../../../assets/images/player/rush/player-rush6.png)
}

.player.rush7 {
  background-image: url(../../../assets/images/player/rush/player-rush7.png)
}