.game-status-text {
  font-size: 50px;
  font-family: "NicoBold-Regular";
  color: #f59e0a;
  text-align: center;
  text-shadow: 5px 5px #02003C;
}

.game-status-text.small {
  font-size: 30px;
}

.game-status-text.big {
  font-size: 70px;
}

.game-status-text.sub {
  color: #52F29E;
  font-family: 'NicoPups-Regular';
  font-size: 50px;
  font-weight: bold;
}