.background-container {
  height: 100vh;
  width: 900px;
  max-width: 900px;
  overflow: clip;
  position: relative;
}

.background-css {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/environment/background.png);
  background-size: cover;
  background-repeat: repeat-x;
  animation: parallax 3000s linear infinite;
}

.midground-css {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/environment/midground.png);
  background-size: cover;
  background-repeat: repeat-x;
  animation: parallax 2000s linear infinite;
}

@keyframes parallax {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -500000px;
  }
}
