.button1 {
  background-color: #f59e0a;
  display: inline-block;
  color: #183543;
  width: 100px;
  height: 40px;
  font-family: "NicoPups-Regular";
  src: local("NicoPups-Regular"),
    url(../../../assets/fonts/NicoPups-Regular.woff) format("woff");
  font-size: 20px;
  font-weight: 700;
  border: outset #f59e0a;
  text-align: center;
  text-decoration: none;
}

.button2 {
  background-color: #2c6b65;
  color: #f59e0a;
  width: 100px;
  height: 40px;
  font-family: "NicoPups-Regular";
  src: local("NicoPups-Regular"),
    url(../../../assets/fonts/NicoPups-Regular.woff) format("woff");
  font-size: 20px;
  font-weight: 700;
  border: outset #2c6b65;
  text-align: center;
  text-decoration: none;
}

.button1:active {
  border: inset #f59e0a;
}

.button2:active {
  border: inset #2c6b65;
}