.button {
  display: flex;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-family: "NicoPups-Regular";
  src: local("NicoPups-Regular"),
    url(../../../assets/fonts/NicoPups-Regular.woff) format("woff");
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.button.orange {
  background-color: #f59e0a;
  color: #183543;
  border: outset #f59e0a;
}

.button.green {
  background-color: #2c6b65;
  color: #f59e0a;
  border: outset #2c6b65;
}

.button.orange:active {
  border: inset #f59e0a;
}

.button.green:active {
  border: inset #2c6b65;
}
