.button1 {
    background-color: #F59E0A;
    color: #183543;
    width: 100px;
    height: 40px;
    font-family: 'NicoPups-Regular';
    src: local('NicoPups-Regular'), url(../../../assets/fonts/NicoPups-Regular.woff) format('woff');
    font-size: 20px;
    font-weight: 700;
    border: outset #F59E0A;
}

.button2 {
    background-color: #2C6B65;
    color: #F59E0A;
    width: 100px;
    height: 40px;
    font-family: 'NicoPups-Regular';
    src: local('NicoPups-Regular'), url(../../../assets/fonts/NicoPups-Regular.woff) format('woff');
    font-size: 20px;
    font-weight: 700;
    border: outset #2C6B65;
}

.button1:active {
    border: inset #F59E0A;
}

.button2:active {
    border: inset #2C6B65;
}