.pillars-container {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enemy-pillar-top,
.enemy-pillar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enemy-pillar-bottom {
  background-color: red;
}

.enemy-pillar-bottom {
  background-color: yellow;
}

.enemy-container {
  padding: 1rem 0;
}
