.pillars-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
}

.enemy-pillar-top {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.enemy-pillar-bottom {
    background-color: yellow;
}