.pillars-container {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  height: 20vh;
}

.enemy-pillar-top,
.enemy-pillar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enemy-pillar-top .fish,
.enemy-pillar-bottom .fish {
  margin-bottom: 1.5vh;
}

.enemy-pillar-top .fish:first-child {
  margin-top: 1.5vh;
}

.enemy-pillar-top .fish:last-child {
  margin-bottom: 0;
}
