.fish {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}

.fish.default1,
.fish.default2,
.fish.default3,
.fish.default4 {
  width: calc(3.25vh * 2.5);
  height: calc(2.5vh * 2.5);
}

.fish.default1 {
  background-image: url(../../../assets/images/enemies/fish/fish1.png);
}

.fish.default2 {
  background-image: url(../../../assets/images/enemies/fish/fish2.png);
}

.fish.default3 {
  background-image: url(../../../assets/images/enemies/fish/fish3.png);
}

.fish.default4 {
  background-image: url(../../../assets/images/enemies/fish/fish4.png);
}

.fish.big1,
.fish.big2,
.fish.big3,
.fish.big4 {
  width: calc(4.4vh * 2.7);
  height: calc(3.9vh * 2.7);
}

.fish.big1 {
  background-image: url(../../../assets/images/enemies/fish-big/fish-big1.png);
}

.fish.big2 {
  background-image: url(../../../assets/images/enemies/fish-big/fish-big2.png);
}

.fish.big3 {
  background-image: url(../../../assets/images/enemies/fish-big/fish-big3.png);
}

.fish.big4 {
  background-image: url(../../../assets/images/enemies/fish-big/fish-big4.png);
}

.fish.dart1,
.fish.dart2,
.fish.dart3,
.fish.dart4 {
  width: calc(3.4vh * 3.5);
  height: calc(1.3vh * 3.5);
}

.fish.dart1 {
  background-image: url(../../../assets/images/enemies/fish-dart/fish-dart1.png);
}

.fish.dart2 {
  background-image: url(../../../assets/images/enemies/fish-dart/fish-dart2.png);
}

.fish.dart3 {
  background-image: url(../../../assets/images/enemies/fish-dart/fish-dart3.png);
}

.fish.dart4 {
  background-image: url(../../../assets/images/enemies/fish-dart/fish-dart4.png);
}
