.gameover-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #13283c;
  max-width: 30rem;
  max-height: 30rem;
  padding: 1rem;
  border: 5px solid #f59e0a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.gameover-field {
  color: #f59e0a;
  border-color: #f59e0a;
  font-family: "NicoPups-Regular";
  font-size: 30px;
  padding: 2rem;
  font-weight: bold;
  text-align: center;
}
