body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* .my-canvas {
  width: 100%;
  height: 100%;
} */

.background-container {
  height: 100vh;
  width: 900px;
  max-width: 900px;
  position: relative;
}

.background-css {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/environment/background.png);
  background-size: cover;
  background-repeat: repeat-x;
  animation: parallax 20s linear infinite;
}

.midground-css {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/environment/midground.png);
  background-size: cover;
  background-repeat: repeat-x;
  animation: parallax 10s linear infinite;
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}

.splash-title {
  font-family: 'NicoBold-Regular';
  src: local('NicoBold-Regular'), url(../fonts/NicoBold-Regular.woff) format('woff');
  font-size: 50px;
  color: #F59E0A;
  text-align: center;
  text-shadow: 5px 5px black;
}

.splash-subtitle {
  font-family: 'NicoPups-Regular';
  src: local('NicoPups-Regular'), url(../fonts/NicoPups-Regular.woff) format('woff');
  color: #52F29E;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes parallax {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -5000px;
  }
}