body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* .my-canvas {
  width: 100%;
  height: 100%;
} */

.background-container {
  height: 100vh;
  width: 900px;
  max-width: 900px;
  position: relative;
}

.background-css {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/environment/background.png);
  background-size: cover;
  background-repeat: repeat-x;
  animation: parallax 20s linear infinite;
}

.midground-css {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/environment/midground.png);
  background-size: cover;
  background-repeat: repeat-x;
  animation: parallax 10s linear infinite;
}

@keyframes parallax {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -5000px;
  }
}